/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import './variables.css';

* {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    letter-spacing: .1rem;
    font-family: 'Cormorant Garamond', serif;
}

p, label, span {
    margin: 0;
}

.header {
    height: var(--header-height);
    background-color: var(--main-primary-color);
    color: var(--text-primary-color);
    display: flex;
    border-bottom: 1px solid var(--text-primary-color);
    padding-bottom: .1rem;
}

.main {
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--main-secondary-color);
    color: var(--text-primary-color);
    text-align: center;
}

.footer {
    width: 100%;
    background-color: var(--main-primary-color);
    color: var(--text-primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem;
    text-align: center;
    border-top: 1px solid var(--text-primary-color);
}

.navbar-menu {
    background-color: var(--main-primary-color);
    padding: 0;
}

.navbar-toggler-menu {
    width: 3rem;
}

.navbar-toggler-menu-icon {
    width: 100%;
    color: var(--text-primary-color);
}

.menu {
    height: 100vh;
    transition: .5s ease;
    background-color: var(--main-primary-color);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid var(--text-primary-color);
    z-index: 10;
    text-align: center;
    padding: 1rem;
}

.nav-link-container-menu {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    height: 100%;
}

.nav-link-menu {
    color: var(--text-primary-color);
}
.nav-link-menu:hover {
    text-decoration: none;
    color: var(--text-primary-color);
    text-shadow: 0 0 .1rem var(--text-primary-color), 0 0 .1rem var(--text-primary-color);
}

@media screen and (min-width: 576px) {
    .menu {
        /* width: 15vw; */
    }
    .footer {
        flex-direction: row;
    }
}

@media screen and (min-width: 768px) {
    .menu {
        /* width: 10vw; */
    }
}