@import './base.css';

.main {
    height: auto;
    padding: 2rem 0;
}

.cryptocurrency-list-table-container {
    margin: auto;
    width: 95%;
    height: 30rem;
    overflow: auto;
    position: relative;
    border: 1px solid var(--text-primary-color);
}

.app-table {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.app-table tr:nth-child(odd) {
    background-color: var(--main-primary-color);
    color: var(--text-primary-color);
}
.app-table tr:nth-child(even) {
    background-color: var(--text-primary-color);
    color: var(--main-secondary-color);
}

.app-table tr {
    border: 1px solid var(--text-primary-color);
    border-left: none;
    border-right: none;
    text-align: center;
}
.app-table .table-cell, .app-table .table-header-cell {
    height: 4rem;
    font-weight: bold;
}

.app-table thead .table-header-cell {
    position: -webkit-sticky; /* this is for all Safari (Desktop & iOS), not for Chrome */
    position: sticky;
    top: -.5%;
    background-color: var(--main-secondary-color);
    color: var(--text-primary-color);
}