:root {
    --main-primary-color: rgb(85, 2, 4);
	--main-primary-color-intensify: rgb(212, 0, 4);
	--text-primary-color: #b0b7b9;
	--main-secondary-color: rgb(0, 0, 0);
	--text-secondary-color: white;
	--header-height: 8vh;
}